API_ID=12345678 # https://my.telegram.org -> API development tools
API_HASH=abcdef1234567890abcdef1234567890 
PHONE=+34612345678
SOURCE_CHAT_ID=-1001234567890 # https://web.telegram.org/a/ -> chat ID in the URL
DEST_CHAT_ID=-1009876543210

GREEN_API_INSTANCE=1234567890 # https://green-api.com/ -> Dashboard -> Instance ID
GREEN_API_TOKEN=abcdef1234567890abcdef1234567890
WHATSAPP_GROUP_ID=120363012345678901@g.us #lastIncomingMessages -> chatId in the response
FILTERED_WHATSAPP_GROUP_ID=120363012345678902@g.us # optional second group with filtered messages
